<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindSpace</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav id="navbar">
        <a href="/" id="logo">mindSpace</a>
        <ul>
            <li><a href="/">Ideas</a></li>
            {{#if session.userId}}    
                <li><a href="/ideas/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
            {{else}}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registrar</a></li>
            {{/if}}
        </ul>
    </nav>
    <section class="container">
        {{#if messages.message}}
            <div class="flash-message">
                {{messages.message}}
            </div>
        {{/if}}
        {{{ body }}}
    </section>
    <footer>
        <p><span>MindSpace</span> &copy; 2023</p>
    </footer>
</body>
</html>