@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*NAVBAR*/

#navbar {
    background-color: #007bff; /* azul */
    padding: 10px;
}
  
#logo {
    color: #ffffff; /* branco */
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}
  
#logo:hover {
    text-decoration: underline;
}
  
#navbar ul {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
#navbar ul li {
    margin-left: 20px;
}
  
a {
    color: #ffffff; /* branco */
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}

/*CONTAINER*/

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    min-height: 60vh;
    padding: 1.2rem;
}

/*FOOTER*/

footer {
    padding: 20px;
    text-align: center;
}
  
footer span {
    color: #007bff;
    font-weight: bold;
}

/*REGISTER*/

.auth-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5; 
    padding: 20px;
    border-radius: 8px;
    max-width: 70%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.auth-container h2 {
    color: #007bff;
    margin-bottom: 20px;
}
  
.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
  
.form-control label {
    color: #333333;
    font-weight: bold;
}
  
.form-control input[type="text"],
.form-control input[type="email"],
.form-control input[type="password"] {
    max-width: 80%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
  
.auth-container input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 5px;
}
  
.form-control p {
    color: #333333;
    margin-top: 10px;
}
  
.auth-container p a {
    color: #007bff;
    text-decoration: none;
}
  
.auth-container p a:hover {
    text-decoration: underline;
}


/*FLASH-MESSAGE*/

.flash-message {
    padding: 1em;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto 2em;
    max-width: 60%;
    animation-name: slideDown;
    animation-duration: .5s;
    animation-timing-function: ease;
}

@keyframes slideDown {
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}