<section class="create-idea-container">
    <a href="/dashboard-ideas">Go back</a>
    <h1>Create an idea</h1>
    <form method="post">
        <div class="form-control">
            <label for="title">Tell us what's on your mind </label>
            <input type="text" name="title" placeholder="Type what's on your mind" required>
        </div>

        <input type="submit" value="Create">
    </form>
</section>